00 5 * * 1-5 cp -rf /home/* /opt/backups/home/
00 6 * * 1-5 cp -rf /var/www/* /opt/backups/var/www/
00 7 * * 1-5 cp -rf /boot/* /opt/backups/boot/ 
00 2 * * 1-5 tar czfv /opt/backups/home.tar.gz /opt/backups/home/
00 3 * * 1-5 tar czfv /opt/backups/var_www.tar.gz /opt/backups/var/www/
00 4 * * 1-5 tar czfv /opt/backups/boot.tar.gz /opt/backups/boot/
*/5 * * * * php -f /var/www/moodle/admin/cron.php
# */15 * * * * /etc/init.d/apache2 restart